<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="alien1" class="dev.krishvora09.Alien" scope="prototype">-->
<!--    </bean>-->

<!--    <bean id="alien2" class="dev.krishvora09.Alien">-->
<!--    </bean>-->

    <bean id="alien1" class="dev.krishvora09.Alien">
        <property name="age" value="21"></property>
        <property name="lap" ref="lap1"></property>
    </bean>

    <bean id="lap1" class="dev.krishvora09.Laptop">
    </bean>

</beans>